nana_2.zip
nana_2/Gui/images/caiji.py
nana_2/Gui/log/nana_log.txt
nana_2/IntentDetector/CommandParser/__init__.py
nana_2/IntentDetector/CommandParser/Judge/__init__.py
nana_2/IntentDetector/CommandParser/translate/__init__.py
nana_2/plugins/test_plugin/__init__.py
nana_chatbot+/ai/__pycache__/ai_service.cpython-310.pyc
nana_chatbot+/ai/ai_service.py
nana_chatbot+/clear_logs.py
nana_chatbot+/config/__pycache__/app_config.cpython-310.pyc
nana_chatbot+/config/__pycache__/logger_config.cpython-310.pyc
nana_chatbot+/config/app_config.py
nana_chatbot+/config/logger_config.py
nana_chatbot+/config/prompts.json
nana_chatbot+/function/notetaker/__pycache__/notetaker_handle.cpython-310.pyc
nana_chatbot+/function/notetaker/__pycache__/notetaker_ui.cpython-310.pyc
nana_chatbot+/handles/input_handler.py
nana_chatbot+/main.py
nana_chatbot+/MyNotes/学习笔记.txt
nana_chatbot+/MyNotes/学习计划.txt
nana_chatbot+/MyNotes/我的世界.txt
nana_chatbot+/MyNotes/测试文件.txt
nana_chatbot+/MyNotes/购物清单.txt
nana_chatbot+/MyNotes/运行记录.txt
nana_chatbot+/nana_log.txt
nana_chatbot+/nana_persona.txt
nana_chatbot+/user_guide/__pycache__/ai_guide.cpython-310.pyc
nana_chatbot+/user_guide/ai_guide.py
notetaker_nana_1/.env
notetaker_nana_1/__pycache__/ai_service.cpython-310.pyc
notetaker_nana_1/ai_service.py
notetaker_nana_1/mian_body_local.py
notetaker_nana_1/mian_body_online.py
notetaker_nana_1/MyNotes/字体错误.txt
notetaker_nana_1/MyNotes/检索本地储存地址.txt
notetaker_nana_1/MyNotes/隐藏滚动框.txt
notetaker_nana_1/MyNotes/高分辨率.txt
notetaker_nana_1/nana_persona.txt
便签/nana_note_config.json
便签/neko_stickys.ico
便签/便签.py
取色器/catgirl_paint_bucket_rounded.ico
取色器/color-wheel.py
记事本/MyNotes/gpu加速失败原因.txt
记事本/MyNotes/字体错误.txt
记事本/MyNotes/有关于numpy使用.txt
记事本/MyNotes/检索本地储存地址.txt
记事本/MyNotes/窗口大小.txt
记事本/MyNotes/隐藏滚动框.txt
记事本/MyNotes/高分辨率.txt
记事本/notebook.ico
记事本/记事本.py
nana_chatbot+
